/* App.css */

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.video {
    width: 300px;
    border: 2px solid #3D52A0;
    border-radius: 10px;
    margin: 10px;
}

.call-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.call-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ADBBDA;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}

.call-button {
    padding: 10px 20px;
    background-color: #3D52A0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.call-button:hover {
    background-color: #7091E6;
}

.receiving-call {
    text-align: center;
    margin-top: 20px;
}

.receiving-call h1 {
    font-size: 1.2rem;
    color: #2d313f;
}

.accept-button {
    padding: 10px 20px;
    background-color: #7091E6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accept-button:hover {
    background-color: #8697C4;
}
