/* Profile.css */

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F4F4F4;
    border-radius: 8px;
  }
  
  .profile-container h2 {
    color: #2d313f;
  }
  
  .profile-container p {
    margin-bottom: 10px;
  }
  
  .profile-container img {
    max-width: 100%;
    border-radius: 8px;
  }
  